/* Variáveis Globais */
:root {
    --main-color: #5C95C5;
    --secondary-color: #EEEFEF;
    --background-color: #FFFFFF;
    --text-color: #131313;
    --border-radius: 10px;
    --box-shadow: 0 0 6px var(--main-color);
    --button-width: 300px;
    --button-height: 45px;
}

/* Estilo global */
body, .form-container {
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--text-color);
}

h3 {
    color: var(--main-color);
    text-align: center;
    font-style: italic;
    font-size: 2.00rem;
    background-color: transparent;
    margin-top: 3.00rem;
}

hr {
    border-top: 1px solid black;
    margin: 20px 0;
    width: 100%;
}

/* Estilo do cabeçalho */
.header {
    justify-content: space-between;
}

.logo {
    width: auto; /* largura exata desejada na renderização */
    height: 100px; /* altura exata desejada na renderização */
    object-fit: contain; /* Ajusta a imagem ao contêiner sem distorção */
}

.title h1 {
    font-size: 40px;
    text-align: center;
}

.title p {
    font-size: 25px;
}

.title-box {
    font-size: 20px;
    text-align: center;
    color: var(--main-color);
}

/* Estilo do formulário */
.form-box, .form-control, .form-select {
    color: var(--text-color);
    background: var(--background-color);
    border: 1px solid var(--main-color);
    border-radius: var(--border-radius);
    box-shadow: 10px 10px 10px -8px rgba(0, 0, 0, 0.2);
}

section {
    padding: 20px;
    margin: 30px 0;
    border-radius: var(--border-radius);
    background: var(--background-color);
    box-shadow: var(--box-shadow);
}

.form-box {
    background-color: var(--secondary-color);
}

.form-label {
    color: black;
}

.form-radio {
    margin: 10px 0;
    padding: 6px 0;
    border: 1px solid var(--main-color);
    border-radius: 10px;
}

